html, body {
    height: 100%;
    margin: 0;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background: linear-gradient(to bottom, rgb(152, 28, 28), #050909);
}

#app {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.div-pokemon {
    background-color: #fff;
    border: 2px solid #333;
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    align-self: center;
}

.oponent-life-bar {
    height: 30px;
    background-color: #44dc75;
    border-radius: 10px;
    border: black solid 2px;
    display: flex;
    width: 67%;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button {
    padding: 10px;
    border: black solid 1px;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: slategray;
}

button:active {
    transform: translateY(2px);
    box-shadow: #050909 0px -1px;
}

.pokemon-life-bar {
    height: 30px;
    background-color: #44dc75;
    border-radius: 10px;
    border: black solid 2px;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
}

.sprite {
    height: 190px;
    background-color: #555;
    border-radius: 8px;
}

.xp-bar {
    background-color: deepskyblue;
    border-radius: 8px;
    margin-bottom: 6px;
    border: black solid 2px;
}

.div-oponent {
    background-color: #fff;
    border: 2px solid #333;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    width: 400px;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
}