*{
    font-family: 'Oxanium', cursive;
}

body {
    background-color: antiquewhite;
}

.pokemon-card{
    background-color: darkturquoise ;
    
    display: grid;
    align-items: center;
    justify-content: center;
}

.pokemon-container{
    position: absolute;
    width: 50%;
    top: 10%;
    left: 25%;
}
