<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Index</title>

</head>

<body>
    <div class="container">
        <h1 class="logo">Página principal</h1>
        <h2 class="logo2">Rotas:</h2>
        <div class="botoes">
            <a href="/disciplinas" class="btn btn-primary">Disciplinas</a>
            <a href="/cursos" class="btn btn-primary">Cursos</a>
            <a href="/professores" class="btn btn-primary">Professores</a>
            <a href="/alunos" class="btn btn-primary">Alunos</a>
        </div>
</body>

</html>