body {
    background-color: #333;
}

.div-oponent {
    display: flex;
    background-color: #fff;
    width: 50%;
    justify-content: end;
}

.oponent-life-bar {
    display: flex;
    height: 30px;
    background-color: #44dc75;
    border-radius: 10px;
    border: black solid 2px;
    width: 60%;
    margin-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
}

.sprite {
    height: 190px;
    background-color: #555;
    border-radius: 8px;
}